body {
  background-color: #000000;
}


.Card {
  width: auto;
  transition: rgba(0, 0, 0, 0.35) 0px 5px 15px, background-color 0.3s ease;
  -webkit-transition: rgba(0, 0, 0, 0.35) 0px 5px 15px, background-color 0.3s ease;
  -moz-transition: rgba(0, 0, 0, 0.35) 0px 5px 15px, background-color 0.3s ease;
  -ms-transition: rgba(0, 0, 0, 0.35) 0px 5px 15px, background-color 0.3s ease;
  -o-transition: rgba(0, 0, 0, 0.35) 0px 5px 15px, background-color 0.3s ease;
}

.Card:hover {
  background-color: #222222; /* Highlight card on hover */
  box-shadow: 0px 8px 16px rgba(94, 94, 94, 0.3); /* Increased shadow visibility */
}

.Card h1, .Card h2 {
  color: #000000;
}

.Card img {
  width: 100%;
  height: 80%;
}

button {
  color: #ffaa00;
  border: solid black 0.1em;
  font-size: medium;
  padding-top: -2em;
  height: 2.5em;
  width: 14em;
  background-color: #000000;
  border-radius: 0.5em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
}

.SubButton:hover {
  background-color: #ffcc00;
  color: #ffffff;
}

button p {
  margin: auto;
  padding: 1em;
}


iframe {
  margin-left: auto;
  margin-right: auto;
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 80%;
  height: 150vh; /* Adjust height as needed */
  margin-top: 20px;
  margin-bottom: 20px;
}

* {
  font-weight: bold;
}

